@using SquawkTalk.Models
@model SearchModel


@section PageLevelStyles
{
    <link href="~/assets/global/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
}

@section PageLevelScripts
{
    <script src="~/assets/global/plugins/bootstrap-select/bootstrap-select.min.js"></script>
}

@section DocumentReadyScripts
{
    $('#feeds').selectpicker('selectAll');
    $('#categories').selectpicker();

    
}
@section Scripts
{
    <script type="text/javascript">
        
        $("#search").click(function () {
            $("#resultTable").find("tr:gt(0)").remove();
            var feeds = $("#feeds").val();
            var cats = $("#categories").val();
            var searchterm = $("#searchterm").val();
            var telecommute = $("#telecommute").is(':checked');
            var contract = $("#contract").is(':checked');

            
            $("#feeds option:selected").each(function (index) {
                var feedGuid = $(this).val();

                $("#categories option:selected").each(function (index) {
                    var category = $(this).val();

                    var resultUrl = "/JobSearch/GetSearchResults?guidstring=" + feedGuid + "&category=" + category + "&searchterm=" + searchterm + "&telecommute=" + telecommute + "&contract=" + contract;
                    $.getJSON(resultUrl, null, function (data) {
                        $.each($.parseJSON(data), function (idx, obj) {
                            //$("#resultTable").prepend("<tr><td>" + obj.SiteName + "</td><td><a target='_blank' href='" + obj.Url + "'>" + obj.Title + "</a></td></tr>");
                            $("#resultTable tr:last").after("<tr><td align='center'><input type='checkbox'></td><td>" + obj.SiteName + "</td><td nowrap>" + obj.IssuedDateString + "</td><td><a target='_blank' id='href" + obj.Id + "' href='" + obj.Url + "'>" + obj.Title + "</a></td><td><label id='lbl" + obj.Id + "'></label>");
                        });
                    });

                });

            });

        });

        $("#selectAll").click(function () {
            
            toggleSelectAll(this);
        });

        function toggleSelectAll(control) {
            var allOptionIsSelected = (control.val() || []).indexOf("All") > -1;
            function valuesOf(elements) {
                return $.map(elements, function (element) {
                    return element.value;
                });
            }

            if (control.data('allOptionIsSelected') != allOptionIsSelected) {
                // User clicked 'All' option
                if (allOptionIsSelected) {
                    // Can't use .selectpicker('selectAll') because multiple "change" events will be triggered
                    control.selectpicker('val', valuesOf(control.find('option')));
                } else {
                    control.selectpicker('val', []);
                }
            } else {
                // User clicked other option
                if (allOptionIsSelected && control.val().length != control.find('option').length) {
                    // All options were selected, user deselected one option
                    // => unselect 'All' option
                    control.selectpicker('val', valuesOf(control.find('option:selected[value!=All]')));
                    allOptionIsSelected = false;
                } else if (!allOptionIsSelected && control.val().length == control.find('option').length - 1) {
                    // Not all options were selected, user selected all options except 'All' option
                    // => select 'All' option too
                    control.selectpicker('val', valuesOf(control.find('option')));
                    allOptionIsSelected = true;
                }
            }
            control.data('allOptionIsSelected', allOptionIsSelected);
        }
</script>
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>Search Job Listings
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Craigslist Sites to Search &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="selectAll">Select All</a></label>
                                <select data-action-box="true" class="form-control" id="feeds" multiple>
                                    @foreach (var feed in Model.Feeds)
                                    {
                                        <option value="@feed.Guid" selected="selected">@feed.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Categories</label>
                                <select class="form-control" id="categories" multiple>
                                    <option value="sof">Software / qa / dba</option>
                                    <option value="web">web / info design</option>
                                    <option value="eng">internet engineers</option>
                                    <option value="sad">systems / networking</option>
                                    <option value="tch">technical support</option>
                                    <option value="vnn">Local News</option>
                                    <option value="pol">Politics</option>
                                    <option value="vol">Volenteers</option>
                                    <option value="gov">Government Jobs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Search Term</label>
                                <input type="text" class="form-control" placeholder="" id="searchterm">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Options</label>
                                <div class="input-group">
                                    <label>
                                        <input type="checkbox" id="telecommute"> Telecommute
                                        <input type="checkbox" id="contract"> Contract
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-set pull-left">
                                <button type="submit" class="btn green" id="search">Search</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-madison">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-files-o"></i>Search Results
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12" id="resultTable">
                        <table class="table table-bordered table-striped table-condensed flip-content" id="resultTable">
                            <thead class="flip-content">
                                <tr>
                                    <th></th>
                                    <th>
                                        Site
                                    </th>
                                    <th nowrap>
                                        Issued
                                    </th>
                                    <th>
                                        Posting Title
                                    </th>
                                    <th>
                                        Reply To Email
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





